default: &default
  adapter: postgresql
  encoding: unicode
  username: postgresql
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: simple_dump_development

test:
  <<: *default
  database: simple_dump_test

production:
  <<: *default
  database: simple_dump_production
  username: simple_dump
  password: <%= ENV['SIMPLE_DUMP_DATABASE_PASSWORD'] %>
